<h1>add workout</h1>

<form [formGroup]="workoutform">

  <label>username:</label>
  <input type="text" formControlName="username" placeholder="enter username" required>

  <label>workoutType:</label>
  <input type="text" formControlName="workoutType" placeholder="enter workout " required>

  <label>Workout minutes</label>
 <input type="number" formControlName="workoutminutes" placeholder="enter Workoutminutes" required>

 <button type="button" (click)="addworkout()" [disabled]="workoutform.invalid">add workout</button>

</form>

<app-workout-list></app-workout-list>