<!-- Add Workout Section -->
<h2>Add Workout</h2>
<form [formGroup]="workoutform">
  <!-- Username Input -->
  <label>Username:</label>
  <input type="text" formControlName="username" placeholder="Enter your name" required />

  <!-- Workout Type Dropdown -->
  <label for="workouttype">Choose a Workout:</label>
  <select formControlName="workouttype">
    <option value=""></option>
    <option value="running">Running</option>
    <option value="cycling">Cycling</option>
    <option value="swimming">Swimming</option>
  </select>

  <!-- Workout Minutes Input -->
  <label>Workout Minutes:</label>
  <input type="number" formControlName="workoutminutes" placeholder="Enter workout time in minutes" required />

  <!-- Add Workout Button -->
  <button type="button" (click)="addworkout()" [disabled]="workoutform.invalid">Add Workout</button>
</form>

<!-- Search Workout Section -->
<h1>Search by Name</h1>
<form [formGroup]="searchWorkOut">
  <!-- Username Search Input -->
  <label>Search by Name</label>
  <input type="text" formControlName="username" placeholder="Enter a username" required />

  <!-- Workout Type Dropdown for Search -->
  <label for="workout">Choose a Workout:</label>
  <select formControlName="workouttype">
    <option value=""></option>
    <option value="running">Running</option>
    <option value="cycling">Cycling</option>
    <option value="swimming">Swimming</option>
  </select>

  <!-- Search Button -->
  <button type="button" (click)="searchByUserName()">Search by Name</button>
</form>

<!-- Workout List Section -->
<h1>Workout List</h1>
<!-- Table to Display Workouts -->
<table *ngIf="paginatedWorkouts.length > 0; else noData">
  <thead>
    <tr>
      <th>USERNAME</th>
      <th>WORKOUTS</th>
      <th>NUMBER OF WORKOUTS</th>
      <th>TOTAL MINUTES</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop Through Paginated Workouts -->
    <tr *ngFor="let workout of paginatedWorkouts">
      <td>{{ workout.username }}</td>
      <td>{{ workout.workouttypes ? workout.workouttypes.join(', ') : '' }}</td>
      <td>{{ workout.totalWorkouts }}</td>
      <td>{{ workout.totalMinutes }}</td>
    </tr>
  </tbody>
</table>

<!-- Pagination Controls -->
<div class="itemsPerPage-1">
  <!-- Previous Page Button -->
  <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
  <!-- Current Page and Total Pages Display -->
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <!-- Next Page Button -->
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>

  <!-- Items Per Page Input -->
  <label for="itemsPerPage">Items Per Page:</label>
  <input type="number" id="itemsPerPage" [formControl]="itemsPerPage" (input)="updatePagination()" min="0" />
</div>

<!-- No Data Template -->
<ng-template #noData>
  <p>No workout saved yet.</p>
</ng-template>

